*{margin:0; padding: 0; box-sizing: border-box;}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(112,255,226);
    background: linear-gradient(0deg,#3149a7 0%,#177dc7 40%,#01cbdc 100%);
    font-size: 62.5%;
    .container_tarjeta{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 67.5rem*0.25;
        min-height: 120rem*0.20;
        background-color: white;
        border-radius: 0.375rem;
        // box-shadow: 5px 5px 14px -11px #ffff9490;
        .base_tarjeta{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 67.5rem*0.25;
            min-height: 120rem*0.20;
            background: rgb(168,123,5);background: radial-gradient(circle, rgba(168,123,5,1) 23%, rgba(124,71,31,1) 59%, rgba(45,12,2,1) 93%);
            border-radius: 0.375rem;
            #particle-container{
                
            }
            .particle {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 2;
            }
            @for $i from 1 through 30 {
                @keyframes particle-animation-#{$i} {
                100% {
                    transform: translate3d((random(90) * 2.5px), (random(90) * 3px), (random(100) * 1px));
                }
                }
                
                .particle:nth-child(#{$i}){
                animation: particle-animation-#{$i} 60s infinite;
                $size: random(3) + 3 + px;
                opacity: random(100)/100;
                height: $size;
                width: $size;
                  animation-delay: -$i * .3s;
                  transform: translate3d((random(90) * 2.5px), (random(90) * 3px), (random(100) * 1px));
                background: white;
                }
            }
            .base-2_poligono{
                transform: translatex(-0.1rem);
                min-width: 67.5rem*0.222 ;
                min-height: 120rem*0.185;
                border-radius: 0.375rem;
                border: .1333rem solid rgb(168,123,5);
                background: linear-gradient(0deg,#3149a7 0%,#177dc7 40%,#01cbdc 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 62% 100%, 44% 94%, 0 94%);
            }
        }
    }
}
