//fonts
$dmfont: 'DM Sans', sans-serif;
$interfont: 'Inter', sans-serif;
//colors
$bitcoin-orange: #F7931A;
$soft-orange: #FFE9D5;
$secundary-blue: #1A9AF7;
$soft-blue: #E7F5FF;
$warm-black: #201E1C;
$grey:#BABABA;
$off-white: #FAF8F7;
$just-white: #FFFFFF;
    //tables-color
    $grey-p2: #757575;
    $grey-table-text: #B5B0AC;
    $organge-table:#FF9536;
