//colors

$backound_color: #202123;
$resaltar_color: #7995c9; 
$footer_color:#171717;
$gris_color: #808080;

//fonts
@import url(/2clone-google/fonts/SFUIDisplay-Light.ttf);
$font_family_1:'Roboto', sans-serif;
$font_family_2:'SFUIDispay-light', sans-serif;
$font_size: .875rem;


